<p>Hey There!</p>
<p>
  Congrats! <strong>A comment has been added on Silver Spring Cupcakeries!</strong>
  Check it out <%= link_to 'here', place_url(@place) %>
</p>

Regards,<br />
Silver Spring CupCakeries